snippet rsh
	require 'spec_helper'
snippet desc
	describe ${1:type} do
		${2}
	end
snippet descm
	describe ${1:type}, '${2:method}' do
		${3}
	end
snippet feat
	feature '${1:type}' do
		${2}
	end
snippet scen
	scenario '${1:type}' do
		${2}
	end
snippet cont
	context ${1:context} do
		${3}
	end
snippet it
	it '${1:type}' do
		${2}
	end
