snippet log*
	Rails.logger.info '*'*80
	Rails.logger.info ${1:log}
	Rails.logger.info '*'*80

snippet log-
	Rails.logger.info '-'*80
	Rails.logger.info ${1:log}
	Rails.logger.info '-'*80

snippet log=
	Rails.logger.info '='*80
	Rails.logger.info ${1:log}
	Rails.logger.info '='*80
