snippet rl*
	Rails.logger.info '*'*80
snippet rl-
	Rails.logger.info '-'*80
snippet rl=
	Rails.logger.info '='*80
snippet rl
	Rails.logger.info 
snippet #!
	#!/usr/bin/ruby
snippet map
	map { |${1:e}| ${2} }
snippet mapd
	map do |${1:e}|
		${2}
	end
snippet ea
	each { |${1:e}| ${2} }
snippet ead
	each do |${1:e}|
		${2}
	end
